ion-img {
    width: 28%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: silver 1px solid;
    border-image-slice: 1px fill;
}

ion-title {
    padding-left: 0px;
    font-size: 15pt;
    padding-bottom: 10px;
    font-weight: normal;
}

ion-item {
    border-bottom: solid 1px #3E3F43;
}

ion-label {
    padding-left: 10px;
}