<ion-toolbar>
    <ion-buttons slot="end">
        <ion-button routerLink="/login/en" color="medium">
            <ion-label> en </ion-label>
            <ion-icon slot="start" src="/assets/icon_en.svg"></ion-icon>

        </ion-button>
        <ion-button routerLink="/login/es" color="medium">
            <ion-label> es </ion-label>
            <ion-icon slot="start" src="/assets/icon_es.svg"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-img src="/assets/sign-in/logo-freeme.svg">
</ion-img>

<ion-card>

    <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
        <ion-item>

            <ion-input placeholder="&nbsp;{{usuario}}" required formControlName="user" type="text">
                <ion-icon slot="start" src="/assets/sign-in/usuario-icon.svg"></ion-icon>
            </ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.user">
            <ion-item *ngIf="user.hasError(error.type) && (user.dirty || user.touched)">
                <small *ngFor="let item of lan | async " class="error-message">
                      {{item.user}}
                  </small>
            </ion-item>
        </div><br>

        <ion-item>
            <ion-input placeholder="&nbsp;{{pass}}" required formControlName="password" type="password">
                <ion-icon slot="start" src="/assets/sign-in/contraseña-icon.svg"></ion-icon>
            </ion-input>

        </ion-item>
        <div *ngFor="let error of errorMessages.password">
            <ion-item *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                <small *ngFor="let item of lan | async " class="error-message">
                      {{item.password}}
                  </small>
            </ion-item>
        </div> <br>

        <ion-button shape="round" expand="full" #btnGuardar block color="primary" type="submit" [disabled]="LoginForm.invalid">
            {{buttom}}
        </ion-button>
    </form><br>

    <ion-label color="medium">
        {{text1}}
    </ion-label>

    <ion-label color="primary">
        {{text2}}
    </ion-label><br><br><br>

    <ion-label color="medium">
        <small> {{text3}} </small> <br>
    </ion-label>

    <ion-label color="primary">
        <small> {{text4}} </small>
    </ion-label>

    <ion-label color="medium">
        <small> {{text5}} </small>
    </ion-label>

    <ion-label color="primary">
        <small> {{text6}}  </small>
    </ion-label>

</ion-card>