<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="dark" menu="primerMenu">
            </ion-menu-button>
        </ion-buttons>
        <ion-title color="primary">{{titulo | uppercase }}</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="choose('en')" color="medium">
                <ion-icon slot="start" src="/assets/icon_en.svg"></ion-icon>

            </ion-button>
            <ion-button (click)="choose('es')" color="medium">
                <ion-icon slot="start" src="/assets/icon_es.svg"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>